header {
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: gold;
    color: black;
}

main {
    padding-left: 5px;
}

footer { background-color: black; 
         color:gold;
         padding: 5px;
         margin-bottom: 100px;
}

.content {
    border: solid black 1px;
    
}

table {
    padding:10px;
    border: black;
    background-color: gold;
}

.u1 {
    list-style: square;
}

img {
    padding:10px;
}

.linkDiv {
    margin-top: 100px;
}