header {
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: gold;
    color: black;
}

main {
    padding-left: 5px;
}

footer { background-color: black; 
         color:gold;
         padding: 10px;
         margin-bottom: 100px;
         margin-top: 20px;
}

.content {
    border: solid black 1px;
    
}

table {
    padding:10px;
    border: black;
    border-width: 5px;
    border-style: solid;
    background-color: gold;
    margin-left: 150px;
}

u1 {
    list-style: square;
}

img {
    padding:10px;
}

.linkDiv {
    margin-top: 50px;
    background-color: gray;
}